site_name: Randname Documentation

theme:
  name: "material"
  features:
    - content.code.copy

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            group_by_category: true
            show_submodules: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - About Project: index.md
  - How-To Guides:
    - Use make: use-make.md
  - Development:
    - Contribution: contribution.md
    - Setting up environment: environment.md
    - Database: database.md
  - Documentation: code.md
  - License: license.md
